<footer>
  <div class="f-info border-top">
    <div class="f-info-socials">
        <a href="/insta"><i class="fa-brands fa-instagram"></i></a>
        <a href="/twitter"><i class="fa-brands fa-x-twitter"></i></a>
    </div>
    <div class="f-info-brand">&copy; Wanderlust Private Info</div>
    <div class="f-info-links">
        <a href="/privacy">Privcay</a>
        <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
